.header
    padding: 34px 0 27px
    .container
        max-width: 1355px
        display: flex
        justify-content: space-between
        align-items: center
        position: relative
    &-logo svg
        width: 247px
        height: 38px
    &-wraper
        display: flex
        align-items: center
    &-nav
        display: flex
        gap: 31px
        margin-right: 33px
        .nav-item
            display: block
            color: #FFF
            font-size: 16px
            font-weight: 400
            line-height: 17.6px
            letter-spacing: 0.8px
            text-transform: uppercase