.btn
    display: flex
    align-items: center
    padding: 10px 40px
    border-radius: 30px
    background-color: #32A461
    color: #fff
    font-family: Roboto
    font-size: 16px
    font-style: normal
    font-weight: 400
    text-transform: uppercase
    transition: .3s background-color
    object, svg
        margin-right: 11px
    &:hover
        background-color: #39C372
        transition: .3s background-color